    <nav class="navbar navbar-dark bg-dark border-body" data-bs-theme="dark">     
        <div class="container-fluid">
            <div class="img-brand">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Peugeot_Logo.svg/1865px-Peugeot_Logo.svg.png" class="img-fluid"alt="logoPeugeot">

            </div>
            <a class="navbar-brand" href="/">Peugeot</a>
            <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/products">Modelos</a>
                <a class="nav-link" href="/profile">Profile</a>
                <a class="nav-link" href="/login">Login</a>
            </div>
            </div>
        </div>
    </nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Perfil de Usuario</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">Nombre:</label>
                        <p id="firstName" class="form-control-static">{{userDto.first_name}}</p>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Apellido:</label>
                        <p id="lastName" class="form-control-static">{{userDto.last_name}}</p>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico:</label>
                        <p id="email" class="form-control-static">{{userDto.email}}</p>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Role:</label>
                        <p id="email" class="form-control-static">{{userDto.role}}</p>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>

<p class="d-none">cart ID: {{userDto.cartId}} </p>
{{#ifEqual userDto.role "admin"}}
    <!-- Enlace alternativo solo para admin -->
    <div class="d-flex justify-content-center">
        <a href="/realtime" class="btn btn-primary mt-4">Ingresar / Modificar productos</a>
    </div>
{{else}}
    <!-- Enlaces para user y premium -->
    <div class="d-flex justify-content-center">
        <a href="/chat" class="btn btn-primary mt-4">Ir a chat</a>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/api/carts/{{../userDto.cartId}}" class="btn btn-primary mt-4">Ir al carrito</a>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/products" class="btn btn-primary mt-4">Ir a productos</a>
    </div>
{{/ifEqual}}


<div class="ms-4">
     <a href="/session/logout" class="btn btn-primary">Logout</a>

</div>



