<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Perfil de Usuario</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">Nombre:</label>
                        <p id="firstName" class="form-control-static">{{userDto.first_name}}</p>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Apellido:</label>
                        <p id="lastName" class="form-control-static">{{userDto.last_name}}</p>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico:</label>
                        <p id="email" class="form-control-static">{{userDto.email}}</p>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Role:</label>
                        <p id="email" class="form-control-static">{{userDto.role}}</p>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>

<p class="d-none">cart ID: {{userDto.cartId}} </p>
{{#ifEqual userDto.role "admin"}}
    <div class="d-flex justify-content-center">
        <a href="/realtime" class="btn btn-primary mt-4">Ingresar / Modificar productos</a>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/user/show" class="btn btn-primary mt-4">Ver usuarios registrados</a>
    </div>
{{else}}
    <div class="d-flex justify-content-center">
        <a href="/chat" class="btn btn-primary mt-4">Ir a chat</a>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/api/carts/{{../userDto.cartId}}" class="btn btn-primary mt-4">Ir al carrito</a>
    </div>
    <div class="d-flex justify-content-center">
        <a href="/products" class="btn btn-primary mt-4">Ir a productos</a>
    </div>
{{/ifEqual}}
{{#ifEqual userDto.role "premium"}}
    <div class="d-flex justify-content-center">
        <a href="/realtime" class="btn btn-primary mt-4">Ingresar / Modificar productos</a>
    </div>
{{else}}
    <div class="d-flex justify-content-center">
        <a href="/session/upgradeaccount" class="btn btn-primary mt-4">Mejora tu cuenta a premium</a>
    </div>

{{/ifEqual}}



